</br>
<div class="container well">
  <div class="alert alert-info" style="width:40%">
    <strong>Password:</strong>
    <%= @user.password %>
  </div>

  <div class="alert alert-info" style="width:40%">
    <strong>Email:</strong>
    <%= @user.email %>
  </div>

  <%= link_to 'Edit', edit_user_path(@user), :class => 'btn btn-success' %>
  <%= link_to 'Back', users_path, :class => 'btn btn-primary' %>
</div>
